{% extends 'base.html' %}
{% load static %}
{% load static custom_filters %}
{% block title %}Cart - Seoul Glow{% endblock %}

{% block content %}

<div class="cart-container">
    <h1>Your Cart</h1>
    {% if cart_items %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>
                        <a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a>
                    </td>
                    <td>
                        <form method="post" action="{% url 'update_cart_item' item.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        {% if item.product.is_on_sale %}
                            <strike>Rs.{{ item.product.price }}</strike>  Rs.{{ item.product.sale_price|floatformat:"2" }}
                        {% else %}
                            Rs.{{ item.product.current_price|floatformat:"2" }}
                        {% endif %}
                    </td>
                    <td>Rs.{{ item.price|floatformat:"2"|mul:item.quantity }}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.product.id %}">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-total">
            <p>Total: Rs.{{ total_price }}</p>
        </div>
        <div class="cart-actions">
            <a href="{% url 'checkout' %}" class="btn">Proceed to Checkout</a>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
